@model EmailTemplateWeb.Models.EmailTemplateViewModel

@{
    ViewBag.Title = "Create";
}

<div id="create-tempalte-page" data-is-edit-mode="@ViewBag.isEditMode">

    @using (Html.BeginForm("Create", "EmailTemplate", new { type = Request.QueryString["type"] }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            <div class="form-group">

                <div class="col-md-10">
                    @if (!ViewBag.isEditMode)
                {
                        @Html.DropDownList("listItemsDD", "בחר")
                    }
                    else
                    {
                        if (Model.BranchName == "")
                        {
                            @Html.DisplayFor(model => model.CampaignName, new { htmlAttributes = new { @class = "form-control" } })
                        }
                        else
                        {
                            @Html.DisplayFor(model => model.BranchName, new { htmlAttributes = new { @class = "form-control" } })
                        }
                    }
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    @Html.HiddenFor(model => model.Id)
                    @Html.EditorFor(model => model.Subject, new { htmlAttributes = new { @class = "form-control", placeholder = "נושא" } })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.Body, new { id = "editor-text-area" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    <input type="submit" value="שמור" class="btn btn-default" id="create-template-btn" />

                    @Html.ActionLink("חזור לרשימה ", "Index", new { type = Request.QueryString["type"] })
                </div>
            </div>
        </div>
    }

</div>