@model EmailTemplateWeb.Models.EmailTemplateViewModel

@{
    ViewBag.Title = "Delete";
}

<h2>מחיקה</h2>

<h3>האם אתה רוצה למחוק?</h3>
<div id="email-template-delte-page-container">

    <div>
        <div>

            <h4>
                @Html.DisplayNameFor(model => model.Subject):
            </h4>
            @Html.DisplayFor(model => model.Subject)
            <hr />
        </div>
        <div>

            <h4>
                @Html.DisplayNameFor(model => model.Body):
            </h4>
            @Html.Raw(Model.Body)
        </div>

    </div>
    @using (Html.BeginForm("Delete", "EmailTemplate", new { type = Request.QueryString["type"] }))
    {
        @Html.AntiForgeryToken()
        <div class="form-actions no-color">
            <input type="submit" value="מחיקה" class="btn btn-default" /> |
            @Html.ActionLink("חזרה לרשימה", "Index", new { type = Request.QueryString["type"] })
        </div>
    }
</div>
