@model EmailTemplateWeb.Models.EmailTemplateViewModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>האם אתה רוצה למחוק?</h3>
<div>
    <h4>EmailTemplateViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BranchName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BranchName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Subject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subject)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Body)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Body)
        </dd>

    </dl>

    @using (Html.BeginForm("Delete", "EmailTemplate", new { type = Request.QueryString["type"] }))
    {
        @Html.AntiForgeryToken()
        <div class="form-actions no-color">
            <input type="submit" value="מחיקה" class="btn btn-default" /> |
            @Html.ActionLink("חזרה לרשימה", "Index", new { type = Request.QueryString["type"] })
        </div>
    }
</div>
