@using EmailTemplateWeb.Globals
@model IEnumerable<EmailTemplateWeb.Models.EmailTemplateViewModel>

@{
    ViewBag.Title = "Index";
}

@if (ViewBag.type == Constant.Branch)
{
    <h1>
        רשימת טמפלטים עבור סניפים
    </h1>
}
else
{

    <h1>
        רשימת טמפלטים עבור קמפיינים
    </h1>
}
<p>
    @Html.ActionLink("צור טמפלט חדש", "Create", new { type = ViewBag.type })
</p>
<div class="table-bordered">
    <table class="table">
        <tr>
            <th>    
                @if (ViewBag.type == Constant.Branch)
            {
                    @Html.DisplayNameFor(model => model.BranchName)
                }
                else
                {
                    @Html.DisplayNameFor(model => model.CampaignName)
                }
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Body)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (ViewBag.type == Constant.Branch)
                {
                        @Html.DisplayFor(modelItem => item.BranchName)
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.CampaignName)
                    }
                </td>
                <td class="col-md-2">
                    @Html.DisplayFor(modelItem => item.Subject)
                </td>
                <td>
                    @Html.Raw(item.Body)

                </td>
                <td>
                    @Html.ActionLink("עריכה", "Edit", new { id = item.Id, type = ViewBag.type }) |
                    @Html.ActionLink("מחיקה", "Delete", new { id = item.Id, type = ViewBag.type })
                </td>
            </tr>
        }

    </table>

</div>      